.App{
  display:flex;
  justify-content: center;
}

.chessboard {
  height: 640px;
  width: 640px;
  border-collapse: collapse;
}

.chessboard td {
  text-align: center;
  height: 80px;
  width: 80px;
}

.chessboard .validDropTile {
  background-color: blue !important;
}

.chessboard tr:nth-child(odd) td:nth-child(odd) {
  background-color: wheat;
}

.chessboard tr:nth-child(odd) td:nth-child(even) {
  background-color: olivedrab;
}

tr:nth-child(even) td:nth-child(even) {
  background-color: wheat;
}

tr:nth-child(even) td:nth-child(odd) {
  background-color: olivedrab;
}