.App{
  display:flex;
  justify-content: center;
}

.chessboard {
  height: 640px;
  width: 640px;
  border-collapse: collapse;
}

.chessboard td {
  text-align: center;
  height: 80px;
  width: 80px;
}

.chessboard tr:nth-child(odd) td:nth-child(odd) {
  background-color: white;
}

.chessboard tr:nth-child(odd) td:nth-child(even) {
  background-color: black;
}

.chessboard tr:nth-child(even) td:nth-child(even) {
  background-color: white;
}

.chessboard tr:nth-child(even) td:nth-child(odd) {
  background-color: black;
}

i.white {
  text-shadow: cadetblue;
  color: white;
}

i.black {
  color: black;
}